%br
%br
.container-fluid
  .row
    %nav.col-md-2.d-none.d-md-block.bg-light.sidebar{style: 'margin-top: 40px'}
      .sidebar-sticky
        %ul.nav.flex-column
          %li.nav-item
            %a.nav-link.active{href: dashboard_path}
              %span{'data-feather': "home"}
              Dashboard
              %span.sr-only (current)
          - if current_user.kind_of?(User) || current_user.kind_of?(Professor)
            %li.nav-item
              %a.nav-link{href: disciplinas_path}
                %span{'data-feather': "file"}
                Disciplinas

        %h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
          Menu
          %span do usuário
          %a.d-flex.align-items-center.text-muted{href: "#"}
            %span{'data-feather': "plus-circle"}

        -if current_user.kind_of?(User) || current_user.kind_of?(Professor)
          %ul.nav.flex-column.mb-2
            %li.nav-item
              %a.nav-link{href: dashboard_edit_user_path}
                %span{'data-feather': "edit"}
                Editar Perfil

        -if current_user.kind_of?(User)
          %ul.nav.flex-column.mb-2
            %li.nav-item
              %a.nav-link{href: dashboard_dados_bancarios_path}
                %span{'data-feather': "dollar-sign"}
                Dados Bancários

    %main.col-md-9.ml-sm-auto.col-lg-10.px-4{role: "main"}
      - if flash[:notice]
        .alert.alert-success
          =flash[:notice]
      - if flash[:danger]
        %div{class: "alert alert-danger"}
          - flash[:danger].each do |msg|
            %ul
              %li
                =msg
      .row
        .col-2
        .col
          %h2 Dados Bancários
          %br
          - if current_user.fk_banco == nil
            %p.text-justify
              Você ainda não possui dados bancários cadastrados. Se você deseja concorrer a monitoria
              remunerada, clique no botão para adicionar seus dados bancários.
            %a.btn.btn-outline-success{href: new_dados_bancario_path} Adicionar
          - else
            %p.text-justify
              Você possui dados bancários cadastrados. Caso você deseje alterar seus dados, basta clicar no botão
              "Editar". Caso deseje apagar seus dados bancários do sistema, basta clicar em "Apagar".
            - @fk_banco = DadosBancarios.find(current_user.fk_banco)
            %table.table
              %thead
                %tr
                  %th Banco
                  %th Agencia
                  %th Conta Corrente
              %tbody
                %tr
                  %td
                    = @fk_banco.codigo
                  %td
                    = @fk_banco.agencia
                  %td
                    = @fk_banco.conta_corrente

            .row
              .col
                %a.btn.btn-outline-warning.btn-block.editar-dados{ href: edit_dados_bancario_path(@fk_banco.id) } Editar dados
              .col
                = link_to "Apagar dados", dados_bancario_path(@fk_banco.id), method: :delete, class: 'btn btn-outline-danger btn-block'
        .col-1