%br
%br
.container-fluid
  .row
    %nav.col-md-2.d-none.d-md-block.bg-light.sidebar{style: 'margin-top: 40px'}
      .sidebar-sticky
        %ul.nav.flex-column
          %li.nav-item
            %a.nav-link{href: dashboard_path}
              %span{'data-feather': "home"}
              Dashboard
              %span.sr-only (current)
          -if current_user.kind_of?(Admin)
            %li.nav-item
              %a.nav-link.active{href: dashboard_disciplinas_path}
                %span{'data-feather': "file"}
                Disciplinas
          - if current_user.kind_of?(User) || current_user.kind_of?(Professor)
            %li.nav-item
              %a.nav-link{href: dashboard_monitorias_path}
                %span{'data-feather': "github"}
                Monitoria

          -if current_user.kind_of?(Professor)
            %ul.nav.flex-column.mb-2
              %li.nav-item
                %a.nav-link{href: dashboard_turmas_path}
                  %span{'data-feather': "edit"}
                  Turmas

          -if current_user.kind_of?(Admin)
            %ul.nav.flex-column.mb-2
              %li.nav-item
                %a.nav-link{href: dashboard_apagar_alunos_path}
                  %span{'data-feather': "trash"}
                  Apagar alunos

        -unless current_user.kind_of?(Admin)
          %h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
            Menu
            %span do usuário
            %a.d-flex.align-items-center.text-muted{href: "#"}
              %span{'data-feather': "plus-circle"}

        -if current_user.kind_of?(User) || current_user.kind_of?(Professor)
          %ul.nav.flex-column.mb-2
            %li.nav-item
              %a.nav-link{href: dashboard_edit_user_path}
                %span{'data-feather': "settings"}
                Editar Perfil

        -if current_user.kind_of?(User)
          %ul.nav.flex-column.mb-2
            %li.nav-item
              %a.nav-link{href: dashboard_dados_bancarios_path}
                %span{'data-feather': "dollar-sign"}
                Dados Bancários

    %main.col-md-9.ml-sm-auto.col-lg-10.px-4{role: "main"}
      .row
        .col
          %h1 Disciplinas
          %hr
          -if flash[:danger]
            .alert.alert-danger
              = flash[:danger]
          -if flash[:notice]
            .alert.alert-success
              = flash[:notice]
          %br
          %p.lead
            Aqui é possível ver, adicionar, editar e deletar todas as disciplinas do sistema.
            %br
            #{pluralize(@disciplinas.count, "disciplina")} no banco.
          %br
          - if current_user.class == Admin
            %a{href:new_disciplina_path, method:"get", :class=>"btn btn-outline-success unb-green btn-block"}
              Adicionar nova Disciplina
          %hr
            .row
              - @disciplinas.each do |d|
                .col-6
                  .card{style: 'width: 100%;'}
                    .card-body
                      - if d.fk_tipo_disciplina_id == 1
                        - tipo="Obrigatória"
                      - else
                        - tipo="Optativa"
                      %h5.card-title=d.nome
                      %br
                      Créditos:
                      =d.c_prat.to_i + d.c_prat.to_i
                      %br
                      =tipo
                      %br
                      %br
                      %table.table
                        %thead
                          %tr
                            %th
                              Prático
                            %th
                              Teórico
                            %th
                              Estudos
                            %th
                              Extensão
                        %tbody
                          %tr
                            %td=d.c_prat
                            %td=d.c_teor
                            %td=d.c_est
                            %td=d.c_ext
                      - if current_user.kind_of?(Admin)
                        .row
                          .col-6
                            %a.btn.btn-outline-warning.btn-block{href: edit_disciplina_path(d.cod_disciplina)}
                              Editar Disciplina
                          .col-6
                            =link_to "Apagar Disciplina", disciplina_path(d.cod_disciplina), method: :delete, class: 'btn btn-outline-danger btn-block'