%br
%br
.container-fluid
  .row
    %nav.col-md-2.d-none.d-md-block.bg-light.sidebar{style: 'margin-top: 40px'}
      .sidebar-sticky
        %ul.nav.flex-column
          %li.nav-item
            %a.nav-link.active{href: dashboard_path}
              %span{'data-feather': "home"}
              Dashboard
              %span.sr-only (current)
          - if current_user.kind_of?(User) || current_user.kind_of?(Professor) || current_user.kind_of?(Admin)
            %li.nav-item
              %a.nav-link{href: disciplinas_path}
                %span{'data-feather': "file"}
                Disciplinas

          -if current_user.kind_of?(Professor)
            %ul.nav.flex-column.mb-2
              %li.nav-item
                %a.nav-link{href: dashboard_turmas_path}
                  %span{'data-feather': "edit"}
                  Turmas

        %h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
          Menu
          %span do usuário
          %a.d-flex.align-items-center.text-muted{href: "#"}
            %span{'data-feather': "plus-circle"}

        -if current_user.kind_of?(User) || current_user.kind_of?(Professor)
          %ul.nav.flex-column.mb-2
            %li.nav-item
              %a.nav-link{href: dashboard_edit_user_path}
                %span{'data-feather': "edit"}
                Editar Perfil

        -if current_user.kind_of?(User)
          %ul.nav.flex-column.mb-2
            %li.nav-item
              %a.nav-link{href: dashboard_dados_bancarios_path}
                %span{'data-feather': "dollar-sign"}
                Dados Bancários

    %main.col-md-9.ml-sm-auto.col-lg-10.px-4{role: "main"}
      - if flash[:notice]
        .alert.alert-success
          =flash[:notice]
      - if flash[:danger]
        %div{class: "alert alert-danger"}
          - flash[:danger].each do |msg|
            %ul
              %li
                =msg
      -if current_user.kind_of?(User)
        %h1
          Hello, Aluno Dashboard!
      -elsif current_user.kind_of?(Professor)
        %h1
          Hello, Professor Dashboard!
      -elsif current_user.kind_of?(Admin)
        %h1
          Hello, Admin Dashboard!