%main.container.text-center{role: "container"}
  = form_tag new_session_path, class: "form-signin" do
    %img.mb-4{src: image_path("logo.png"), alt: "Generic Logo"}
    %h1.h3.mb-3.font-weight-normal Faça o login
    = email_field :user, :email, class: "form-control", placeholder: "Seu email..."
    = password_field :user, :password, class: "form-control", placeholder: "Sua senha..."
    = submit_tag 'Login', :class => "btn btn-lg btn-primary btn-block"
    %p.mt-5.mb-3.text-muted
      &copy; 2018-2018
