.container
  .row
    .col
      - if flash[:notice]
        #notice.message= flash[:notice]

-# Carousel
.carousel.slide#homeCarousel{'data-ride' => 'carousel', 'data-interval': "7500"}
  %ol.carousel-indicators
    %li.active{'data-target' => "homeCarousel", 'data-slide-to' => '0'}
    %li{'data-target' => "homeCarousel", 'data-slide-to' => '1'}
    %li{'data-target' => "homeCarousel", 'data-slide-to' => '2'}
  .carousel-inner
    .carousel-item.active
      %img.first-slide.img-fluid{src: image_path("carousel.jpeg"), alt: "Slide 1"}
      .container
        .carousel-caption.text-left
          %h1 Example Headeline 1.
          %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
          %p
            %a.btn.btn-lg.btn-primary{href: new_user_path, role: ""} Registre-se
    .carousel-item
      %img.second-slide.img-fluid{src: image_path("carousel.jpeg"), alt: "Slide 2"}
      .container
        .carousel-caption.text-left
          %h1 Example Headline 2.
          %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
          %p
            %a.btn.btn-lg.btn-primary{href: "#", role: ""} Learn More
    .carousel-item
      %img.third-slide.img-fluid{src: image_path("carousel.jpeg"), alt: "Slide 3"}
      .container
        .carousel-caption.text-left
          %h1 Example Headline 3.
          %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
          %p
            %a.btn.btn-lg.btn-primary{href: "#", role: ""} Learn More
  %a.carousel-control-prev{href: "#homeCarousel", role: "button", 'data-slide': "prev"}
    %span.carousel-control-prev-icon{'aria-hidden': true}
    %span.sr-only Previous
  %a.carousel-control-next{href: "#homeCarousel", role: "button", 'data-slide': "next"}
    %span.carousel-control-next-icon{'aria-hidden': true}
    %span.sr-only Next
-# End Carousel

%main{:class => "container", :role => "container"}
  .row.text-center
    .col
      %img.rounded-circle{src: image_path("carousel.jpeg"), alt: "Generic Image", width: "140", height: "140"}
      %h2 Heading
      %p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
      %p
        %a.btn.btn-secondary{href: "#", role: "button"} View details &raquo;
    .col
      %img.rounded-circle{src: image_path("carousel.jpeg"), alt: "Generic Image", width: "140", height: "140"}
      %h2 Heading
      %p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
      %p
        %a.btn.btn-secondary{href: "#", role: "button"} View details &raquo;
    .col
      %img.rounded-circle{src: image_path("carousel.jpeg"), alt: "Generic Image", width: "140", height: "140"}
      %h2 Heading
      %p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
      %p
        %a.btn.btn-secondary{href: "#", role: "button"} View details &raquo;

  %hr.featurette-divider

  .row.featurette
    .col-7
      %h2.featurette-heading First Feature Heading. <span class="text-muted">It'll blow your mind!</span>
      %p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    .col-5
      %img.featurette-image.img-fluid.mx-auto{src: image_path("feature.jpg"), alt: "Generic Image"}

  %hr.featurette-divider

  .row.featurette
    .col-5
      %img.featurette-image.img-fluid.mx-auto{src: image_path("feature.jpg"), alt: "Generic Image"}
    .col-7
      %h2.featurette-heading Oh yeah, it's that good. <span class="text-muted">See for yourself.</span>
      %p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.

  %hr.featurette-divider

  .row.featurette
    .col-7
      %h2.featurette-heading And lastly this one. <span class="text-muted">Checkmate</span>
      %p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    .col-5
      %img.featurette-image.img-fluid.mx-auto{src: image_path("feature.jpg"), alt: "Generic Image"}