%main{:class => "container", :role => "container"}
    .row.featurette
        .col-7
        %h2.featurette-heading
            Um e-mail foi enviado para 
            %span.text-muted EMAIL
        %p.lead
            Professor(a) por favor, clique no link de confirmação para poder acessar o Monitoria CiC.