<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Seja bem vindo professor(a), <%= @professor.name %></h1>
    <p>
      Seu usuário é <%= @professor.username %><br>
      e sua senha é ABCDEF.<br>
    </p>
    <p>
      Para acessar a pagina de login por favor use esse <%= link_to "link", @url %>.
    </p>
    <p>Muito obrigado por estar conosco e bom trabalho!</p>
  </body>
</html>